	<div class="container" id="mainPage">
		<div class="container-fluid">
			<h1>
				F F F <small><i>free fresh friend</i> </small>
			</h1>
			<div class="navbar">
				<div class="navbar-inner" id="menu_top">
					<div class="container">
						<form class="navbar-search pull-right" action="">
							<input class="search-query span2" type="text"
								placeholder="Search">
						</form>
						<a class="btn btn-navbar" data-toggle="collapse"
							data-target=".nav-collapse"> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<div class="nav-collapse">
							<!-- ###MENU### begin -->
							<ul class="nav">
								<li class="active"><a href="#"><i
										class="icon-home icon-white"></i>&nbsp;&nbsp;Home</a></li>
								<li><a href="#">About</a></li>
							</ul>
							<!-- ###MENU### end -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<h3>Popular Songs</h3>
					<div class="caption_ol">
						<ol>
							<li><a href="#">Lorem ipsum dolor sit amet</a></li>
							<li><a href="#">Consectetur adipiscing elit</a></li>
							<li><a href="#">Integer molestie lorem at massa</a></li>
							<li><a href="#">Facilisis in pretium nisl aliquet</a></li>
							<li><a href="#">Nulla volutpat aliquam veli</a></li>
							<li><a href="#">Faucibus porta lacus fringilla vel</a></li>
							<li><a href="#">Aenean sit amet erat nunc</a></li>
							<li><a href="#">Eget porttitor lorem</a></li>
							<li><a href="#">Aenean sit amet erat nunc</a></li>
							<li><a href="#">Eget porttitor lorem</a></li>
						</ol>
					</div>
				</div>
				<div class="span9">
					<h3>Song Records</h3>
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span4">
								<img src="img/thumb1.gif" />
							</div>
							<div class="span4">
								<!-- ###MAIN_CONTENT### begin -->
								<ul class="the-icons">
									<li><i class="icon-fast-backward"></i>
									</li>
									<li><i class="icon-step-backward"></i>
									</li>
									<li><i class="icon-play"></i>
									</li>
									<li><i class="icon-pause"></i>
									</li>
									<li><i class="icon-stop"></i>
									</li>
									<li><i class="icon-step-forward"></i>
									</li>
									<li><i class="icon-fast-forward"></i>
									</li>
								</ul>
								<!-- ###MAIN_CONTENT### end -->
							</div>
							<div class="span4">
								<ol>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
									<li>Song 1</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br /> <br /> <small><i>Chanthou.nim@gmail.com</i> </small>
		</div>
	</div>
